html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background: url("https://images.unsplash.com/photo-1480506132288-68f7705954bd?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y29kaW5nJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D") center / cover no-repeat fixed;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 24px;
  margin-bottom: 40px;

  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);

  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(128, 0, 255, 0.2);
}

.nav-logo {
  font-size: 1.2rem;
  font-weight: 600;
  color: #4b0082;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 8px 14px;
  border-radius: 8px;

  transition: all 0.2s ease;
}

.nav-links a:hover {
  background: rgba(128, 0, 255, 0.15);
  color: #4b0082;
}

.page {
  width: 800px;
  min-height: 100vh;
  padding: 40px;
  background: rgba(255, 255, 255, 0.88);
  backdrop-filter: blur(6px);
  box-shadow: 0 0 40px rgba(128, 0, 255, 0.25);
  box-sizing: border-box;
  align-items: center;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 38px;
}

.portfolio {
    font-size: 35px;
    text-align: center;
}

#name {
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
    text-decoration: underline;
}

.intro {
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.intro2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.skills {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.profile-picture {
    width: 3000px;
    height: 220px;
    border-radius: 12px;
    object-fit: contain;
    display: block;
}

footer {
    text-align: end;
    margin-top: 40px;
    font-size: 16px;
    color: #555;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}